<!-- ../ because it's one directory deeper -->
<% include ../header %>

<h1><%= pageTitle %></h1>

<h3><%= msg %></h3>
<hr>


<% for (var i = 0; i < allArticles.length; i++) { %>
  <li>
    <a href="articles/<%= i%>">
    <%= allArticles[i].title %></a>
    <blockquote>
      <%= allArticles[i].article %>
    </blockquote>
  </li>
<% } %>

<%include ../footer %>